<mat-toolbar color="primary">
  <span>Angular Material</span>
  <div class="container-fluid">
    <div class="d-md-flex d-none justify-content-end">
      <a routerLink="/login"><span class="mx-2">Login</span></a>
      <a routerLink="/signup"><span class="mx-2">Signup</span></a>
      <a routerLink="/training"><span class="mx-2">Training</span></a>
      <button mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
    <div class="d-flex d-md-none justify-content-end">
      <button
        mat-icon-button
        (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
